include modules/main
  include modules/header
  body
  .container  
    .row.justify-content-center.text-center
      .card.col-4.my-5.box-shadow
        .card-body
          form
            .form-group
              h4.text-left Вход
              label.col-form-label(for='exampleInputEmail1') Login
              input#inputLogin.form-control(type='text' placeholder='ivanov.ivan@mail.ru')
              label.col-form-label(for='exampleInputPassword1') Password
              input#inputPassword.form-control(type='password' placeholder='***********')
                
          button.btn.btn-primary.float-left(type='button' onclick = 'loginAsAdmin()') Администрирование 
           
          button.btn.btn-success.float-right(type='button' onclick = 'loginAsUser()') Вход
          
    .row.justify-content-center.text-center
      ul.list-group.text-left.col-4
        h3 User Data
        li.list-group-item.list-group-item-action#idLi Id: 
        li.h3.list-group-item.list-group-item-action#nameLi User name:    
    script(src="script.js")
  style
    include style.css
      
