body{
  height: 100vh;

}

.box-shadow{
  -webkit-box-shadow: 2px 2px 18px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 18px 1px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 18px 1px rgba(0,0,0,0.75);
}

/* .container{
  -webkit-box-shadow: 5px 5px 25px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 25px -10px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 25px -10px rgba(0,0,0,0.75);
} */
