nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.sticky-top
  a.navbar-brand(href='/')
    //- .h2.font-italic Addel
    img(src="img/logo1.svg" width = "140" height="40")  
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon

  #navbarSupportedContent.collapse.navbar-collapse
    ul.h5.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link.boder-bottom(data-value='about' href='#') Главная

      li.nav-item
        a.nav-link(data-value='blog' href='#') Блог
      li.nav-item
        a.nav-link(data-value='team' href='#') О нас
      li.nav-item
        a.nav-link(data-value='contact' href='#')| Контакты
